%ul.accordion
  %li#one.files
    %a{href: "#one"}
      Files
      %span
        495

    %ul.sub-menu
      %li
        %a{href: "#"}
          %em
            01
          Dropbox
          %span
            42
      %li
        %a{href: "#"}
          %em
            02
          Skydrive
          %span
            87
      
  %li#two.mail
    %a{href: "#one"}
      Mail
      %span
        26

    %ul.sub-menu
      %li
        %a{href: "#"}
          %em
            01
          Dropbox
          %span
            42

  

  
  %li#four.sign
    %a{href: "#one"}
      Sign Out
