%ul.accordion
  %li#one.files
    %a.new_quiz{href: new_quizzes_path}
      Создать викторину
      
  %li#two.mail
    %a{href: "#one"}
      Mail
      %span
        26

    %ul.sub-menu
      %li
        %a{href: "#"}
          %em
            01
          Dropbox
          %span
            42

  

  
  %li#four.sign
    %a{href: "#one"}
      Sign Out
