= title 'Новая викторина'
- content_for :page_title do
  Новая викторина

- if @game_type == Quizzes::OWN_GAME
  = render template: 'quizzes/own_game/new'
- elsif @game_type == Quizzes::Alphabet
  = render template: 'quizzes/alphabet'
