:javascript
  $(function(){OwnGameConstructor.initialize()})
.questions
  .category
    .name
      blabla
    .item
      10
    .item
      20

  .category
    .name
      blabla
    .item
      10
    .item
      20

.clear
  %a.add-category{href: '#'}
    Добавить категорию
