- @result.each_with_index do |(category, questions), index|
  - if index == 0
    .category
      .name.empty
      .constructor-header
        .prices
          - questions.each do |question|
            .item.transparent{onclick: "OwnGameConstructor.delete_price(#{question.params[:price]})"}
              = question.params[:price]
  .category
    .name{onclick: "OwnGameConstructor.delete_category('#{category}')"}
      %span
        = category
    - questions.each do |question|
      %a.item{href: edit_questions_path(id: question.id),class: question.text.blank? ? 'gray': nil}
