- @result.each do |category, questions|
  .category
    .name
      = category
    - questions.each do |question|
      %a.item{href: edit_questions_path(id: question.id),class: question.text.blank? ? 'gray': nil}
        = question.params[:price]
