.header
  %div{class: 'wrapper clearfix'}
    .lfheader
      %img{alt: 'logo'}
    .lmheader
      %ul{class: 'header-navigation'}
        %li{class: 'current'}
          %a
            Главная
        %li
          %a
            Создать викторину
        %li
          %a
            О программе
    .last-col
%a{href: 'https://github.com/EnOD/quiz'}
  %img{style: 'position: absolute; top: 50px; right: 0; border: 0;', src: 'assets/forkme_right_green_007200.png', alt: 'Fork me on GitHub'}
