/* ...
*= require_self
*= require public
*= require user
*= require button
*= require quiz
*= require accordionmenu
*/


body {
  background:url('bg.jpg');
  background-color:#131313;
  background-position: top left;
  color: black;
  font: 12px/1.231 Arial, sans-serif;
  margin: 0;
  height:100%;
  min-height: 100%;
}
.clear{
  clear:both;
}
ol, ul{
  list-style-type: none;
}
input[type="text"], input[type="password"] {
}
.container{
  position: relative;
  z-index: 1;
}

input::-webkit-input-placeholder {
    color:  #555;
  }
input:-moz-placeholder {
    color:  #555;
}


.wrapper {
  clear: both;
  margin: auto;
  padding-bottom: 20px;
  position: relative;
  width: 960px; 
}

.clearfix {
  *zoom: 1;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
  }