/* ...
*= require_self
*= require user
*= require button
*= require public
*/


body {
  background:url('bg.png');
  background-color:#131313;
  color: black;
  font: 12px/1.231 Arial, sans-serif;
  margin: 0;
}
ol, ul{
  list-style-type: none;
}
input[type="text"], input[type="password"] {
}
.container{
  position: relative;
  z-index: 1;
}

input::-webkit-input-placeholder {
    color:  #555;
  }
input:-moz-placeholder {
    color:  #555;
}

.wrapper {
  clear: both;
  margin: auto;
  padding-bottom: 20px;
  position: relative;
  width: 960px; 
}

.clearfix {
  *zoom: 1;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
  }