.container{
  .content{
    clear: both;
    position: relative;
    overflow: hidden;
    height: 100%;
    .left-panel{
      float:left;
      .user-info{
        .avatar{
          img{
            width:60px;
          }
          width:60px;
          margin-right:20px;
          margin-bottom:30px;
          float:left;
          -webkit-box-shadow:0px 1px 5px 3px rgba(170,255,170,.6),inset 0px 1px 1px 0px rgb(0,0,0);
          -moz-box-shadow:0px 1px 5px 3px rgba(170,255,170,.6),inset 0px 1px 1px 0px rgb(0,0,0);
          box-shadow:0px 1px 5px 3px rgba(170,255,170,.6),inset 0px 1px 1px 0px rgb(0,0,0);
        }
        .name{
          position:relative;
          float:left;
          padding-top:10px;
          font-family: 'Myriad Pro', sans-serif;
          font-size: 20px;
          color: #fff;
          padding-top:20px;
        }
      }
      .menu{
        width:250px;
        clear:both;
      }
    }

    .middle-panel{
      padding: 30px 50px 30px 50px;
      float:left;
      width: 800px;
      background: url('quiz-bg.jpg');
      .title{
        padding-bottom:10px;
        border-bottom: 3px solid #80a62d;
      }
      .text{
        font-family: 'Myriad Pro', sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #80a62d;
      }
    }
  }
}

.questions{
  overflow: hidden;
}
.category{
  width: 800px;
  overflow: hidden;
  .name, .item{
    line-height: 62px;
    margin: 5px;
    padding: 5px;
    height: 62px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 1.2em;
  }
  .name{
    width:200px;
  }
  .item{
    width: 62px;
    background: #90c62f;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
  }
  .gray{
    background: #A6A6A6;
    color: black;
  }
  .transparent{
    background-color: transparent;
  }
  &:after{
    clear:both;
  }
}


.new_own_game{
  input::-webkit-input-placeholder {
    color:  #bbb;
  }
  input:-moz-placeholder {
      color:  #bbb;
  }
  padding: 5px;
  input[type=text]{
    background: #5E5659;
  }
  .button{
    margin-left: 0;
    margin-top: 5px;
  }
}