// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.register{
  margin: 0 auto;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 15px 40px 0 0;
  .or{
    padding-left: 100px;
    margin-bottom: 5px;
    font-family: Georgia, serif;
    font-style: italic;
  }
}

.lmheader{
  width: 300px;
  margin: 0 auto 30px auto;
}
.site-info-links{
  padding-top: 35px;
}
.quiz-header{
  margin: 0px auto;
  .site-info{
    white-space:nowrap;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
    .site-name{
      font-weight: bold;
      margin-bottom: 5px;
      margin-left: 13px;
      text-transform: uppercase;
    }
    
  }
}

.last-col{
  display: table-cell;
  float: none;
  width: auto;
  // margin-right: -3px;
  // left: -3px;
  // position: relative;
}

.login-form {
  margin: 0 auto;
  h1, span, input, label {
    margin:0;
    padding:0;
    border:0;
    outline:0;
  }

  position:relative;
  width:200px;
  height:200px;
  padding:15px 25px 0 25px;
  cursor:default;

  background-color:#141517;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:0px 1px 1px 0px rgba(255,255,255,.2),inset 0px 1px 1px 0px rgb(0,0,0);
  -moz-box-shadow:0px 1px 1px 0px rgba(255,255,255,.2),inset 0px 1px 1px 0px rgb(0,0,0);
  box-shadow:0px 1px 1px 0px rgba(255,255,255,.2),inset 0px 1px 1px 0px rgb(0,0,0);

  &:before {
    position: absolute;
    top:-12px;
    left:10px;
    width:0px;
    height:0px;
    content:'';
    border-bottom:10px solid #141517;
    border-right:10px solid #141517;
    border-top:10px solid transparent;
    border-left:10px solid transparent;
  }

  h1 {
    line-height: 40px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #e4e4e4;
  }

  input[type=text], input[type=password], input[type=submit] {
    line-height: 14px;
    margin: 10px 0;
    padding: 6px 15px;
    border: 0;
    outline: none;

    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);

    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }
  
  input[type=text], input[type=password], span {
    color: #222;
    width: 170px;  

    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);

    background: #989898;
    background: -moz-linear-gradient(top,  #ffffff 0%, #989898 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#989898));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: linear-gradient(top,  #ffffff 0%,#989898 100%);
  }

  input[type=text], input[type=password] {
    &:hover {
      -webkit-box-shadow: 0 0 0 3px rgba(255,255,255, .1);
      -moz-box-shadow: 0 0 0 3px rgba(255,255,255, .1);
      box-shadow: 0 0 0 3px rgba(255,255,255, .1);
    }
    &:focus {
      $light-grey: #e1e1e1;
      $light-green: #80a62d;
      background: $light-grey;
      background: -moz-linear-gradient(top,  #ffffff 0%, $light-grey 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,$light-grey));
      background: -webkit-linear-gradient(top,  #ffffff 0%,$light-grey 100%);
      background: -o-linear-gradient(top,  #ffffff 0%,$light-grey 100%);
      background: -ms-linear-gradient(top,  #ffffff 0%,$light-grey 100%);
      background: linear-gradient(top,  #ffffff 0%,$light-grey 100%);
      -webkit-box-shadow: 0 0 0 3px $light-green;
      -moz-box-shadow: 0 0 0 3px $light-green;
      box-shadow: 0 0 0 3px $light-green;
    }
  }

  input[type=submit] {
    float: right;
    cursor: pointer;

    color: #445b0f;

    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    
    &:hover {
      -webkit-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
      -moz-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
      box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
    }

    &:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  input[type=submit], span.checked:before {
    background: #a5cd4e;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
  }

  input[type=checkbox] {
    position: fixed;
    left: -99999px;
  }

  span {
    position: relative;
    margin-top: 15px;
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
  }

  span.checked {
      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;

        -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
        -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
        box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
      }
    }

  label {
    position: absolute;
    top: 1px;
    left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #e4e4e4;
  }
}
// end .login-form
#registration{
  width:250px;
  padding: 5px 5px;
  margin: 0 auto;
  #register_button{
    margin: 0;
  }
}

