.lfheader
  .site-info-links
.lmheader
  .quiz-header
    .site-info
      %h1{:class => 'site-name'}
        Генератор викторин
      .about
        %span{:class => 'legend-left'}
        %span{:class => 'legend-center'}
          Колледж Бизнеса и Права
        %span{:class => 'legend-right'}
%div{:class => 'lfheader last-col'}
