.lfheader
  .site-info-links
.lmheader
  .quiz-header
    .site-info
      %h1{:class => 'site-name'}
        Генератор викторин
      .text-separator
        %span{:class => 'left'}
        %span{:class => 'center'}
          Колледж Бизнеса и Права
        %span{:class => 'right'}
%div{:class => 'lfheader last-col'}
